{% extends "base.html" %}
{% block meta %}
{{ parent() }}
{% endblock %}
{% block nav %}
{{ parent() }}
{% endblock %}
{% block main %}
{{ parent() }}
<div class="container-fluid">
	{% if message is not empty %}
	<div class="alert alert-danger" role="alert">{{ message }}</div>
	{% endif %}
	<p>
		API Key由系統自動亂數產生，管理者可以手動修改，長度沒有限制。<br>
		API金鑰 是用來提供給DDNS client 連線到DDNS server的金鑰。使用API金鑰就可以取代帳號跟密碼，透過API金鑰 做為登入使用。<br>
		如果其他安裝DDNS client的電腦需要將最新的IP位址回傳給DDNS Server，只要將此處產生的 API金鑰 複製之後提供給DDNS Client作為登入使用。<br>
	</p>
	<form method="post" action="apikey-add1.php">
		<input type="hidden" name="csrf_token" value="{{csrf_token}}">
		<div class="row form-group">
			<label class="col-2"><font color=red>*</font>{% trans "API金鑰" %}</label>
			<input type="text" class="col-10 form-control" name="apikey" value="{{key}}" required>
		</div>
		<input type="submit" value="{% trans "新增" %}" class="btn btn-primary btn-sm"> &nbsp;
		<input type="reset" value="{% trans "重設" %}" class="btn btn-secondary btn-sm"> &nbsp;
	</form>
</div>
{% endblock %}
{% block footer %}
{% include 'footer.html' only %} 
{% endblock %}