{% extends "base.html" %}
{% block meta %}
{{ parent() }}
{% endblock %}
{% block nav %}
{{ parent() }}
{% endblock %}
{% block main %}
{{ parent() }}
<div class="container-fluid">
	{% if message is not empty %}
	<div class="alert alert-danger" role="alert">{{ message }}</div>
	{% endif %}
	<div class="table-responsive">
		<p>
			以下是列出目前您建立在資料庫內的網域。<br>
			如果您要增加更多網域，在左側有可以新增網域的選單，請點還左側新增網域的選單，新增網域。<br>
		</p>
	<table class="table table-striped">
		<tr>
			<td>{% trans "網域" %}</td>
			<td></td>
			<td></td>
		</tr>
		{% for item in items %}
		<tr>
			<td>{{item.domain}}</td>
			<td><a href="domain-update.php?id={{item.id}}">{% trans "修改" %}</a></td>
			<td><a href="domain-delete.php?id={{item.id}}" onclick="return confirm('確定刪除？')">{% trans "刪除" %}</a></td>
		</tr>
		{% endfor %}
	</table>
	{{pagnation|raw}}
</div>
</form>
</div>
{% endblock %}
{% block footer %}
{% include 'footer.html' only %} 
{% endblock %}