{% extends "base.html" %}
{% block meta %}
{{ parent() }}
{% endblock %}
{% block nav %}
{{ parent() }}
{% endblock %}
{% block main %}
{{ parent() }}
<div class="container-fluid">
	{% if message is not empty %}
	<div class="alert alert-danger" role="alert">{{ message }}</div>
	{% endif %}
	<p>
		這裏是輸入你購買的網域，不論是 .com 或者 .tw都可以。<br>
		要購買網域，可以跟PChome或者GoDaddy等網域銷售商購買您喜歡的網域。<br>
	</p>
	<form method="post" action="domain-add1.php">
		<input type="hidden" name="csrf_token" value="{{csrf_token}}">
		<div class="row form-group">
			<label class="col-2"><font color=red>*</font>{% trans "Domain" %}</label>
			<input type="text" class="col-10 form-control" name="domain" required>
		</div>
		<input type="submit" value="{% trans "送出" %}" class="btn btn-primary btn-sm"> &nbsp;
		<input type="reset" value="{% trans "重設" %}" class="btn btn-secondary btn-sm"> &nbsp;
	</form>
</div>
{% endblock %}
{% block footer %}
{% include 'footer.html' only %} 
{% endblock %}