    <footer id="footer1" class="footer1">
      <div style="padding-top: 10px;">
          <center>
            <ul class="list-inline">
              <li class="list-inline-item text-center p-2">©copyright 2020 財團法人台灣網路資訊中心 All Rights Reserved.</li>
            </ul>
          </center>
      </div>
    
  </footer>
<script>
  $(document).ready(function() {
   var docHeight = $(window).height();
   var footerHeight = $('#footer1').height();
   var footerTop = $('#footer1').position().top + footerHeight;
   if (footerTop < docHeight) {
    $('.footer1').css('margin-top', (docHeight - footerTop) + 'px');
   }
  });
</script>
