{% extends "base.html" %}
{% block meta %}
{{ parent() }}
{% endblock %}
{% block nav %}
{{ parent() }}
{% endblock %}
{% block main %}
{{ parent() }}
<div class="container-fluid">
	{% if message is not empty %}
	<div class="alert alert-danger" role="alert">{{ message }}</div>
	{% endif %}
		<div class="row">
		<div class="col-2">PTR</div>
		<div class="col-10">反解，查詢 IP 所對應的主機名稱</div>
	</div>
	<div class="row">
		<div class="col-2">NS</div>
		<div class="col-10">查詢管理領域名稱 (zone) 的伺服器主機名</div>
	</div>
	<div class="row">
		<div class="col-2">SOA</div>
		<div class="col-10">查詢管理領域名稱的伺服器管理資訊</div>
	</div>
	<div class="row">
		<div class="col-2">A</div>
		<div class="col-10">IPv4的位址</div>
	</div>
	<div class="row">
		<div class="col-2">AAAA</div>
		<div class="col-10">IPv6的位址</div>
	</div>
	<div class="row">
		<div class="col-2">CNAME</div>
		<div class="col-10">CNAME記錄用於將一個域名（同名）映射到另一個域名（真實名稱），域名解析伺服器遇到CNAME記錄會以映射到的目標重新開始查詢。 這對於需要在同一個IP位址上運行多個服務的情況來說非常方便。</div>
	</div>
	<div class="row">
		<div class="col-2">TXT</div>
		<div class="col-10">文字記錄，通常存放一些驗證用的資訊。</div>
	</div>
		<div class="row">
		<div class="col-2">MX</div>
		<div class="col-10">郵件交換記錄 (MX record)是域名系統（DNS）中的一種資源記錄類型，用於指定負責處理發往收件人域名的郵件伺服器。MX記錄允許設定一個優先次序，當多個郵件伺服器可用時，會根據該值決定投遞郵件的伺服器。簡單郵件傳輸協定（SMTP）會根據MX記錄的值來決定郵件的路由過程。</div>
	</div>
	
	<div class="row">
		<div class="col-2"></div>
		<div class="col-10"></div>
	</div>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-10"></div>
	</div>
			<form method="post" action="hostname-update1.php">
		<input type="hidden" name="csrf_token" value="{{csrf_token}}">
		<input type="hidden" name="id" value="{{id}}">
		<div class="row form-group">
			<label class="col-2"><font color=red>*</font>{% trans "Zone" %}</label>
			<input class="col-10 form-control" type="text" name="zone" value="{{rows[0].zone}}">
		</div>
		<div class="row form-group">
			<label class="col-2"><font color=red>*</font>{% trans "Host" %}</label>
			<input class="col-10 form-control" type="text" name="host" value="{{rows[0].host}}">
		</div>
		<div class="row form-group">
			<label class="col-2"><font color=red>*</font>{% trans "Type" %}</label>
			<div class="col-10">
				<div class="row">
				<label class="col-2"><input type="radio" name="type" value="A" {%if rows[0].type=='A'%}checked{%endif%}>A</label> 
				<label class="col-2"><input type="radio" name="type" value="AAAA" {%if rows[0].type=='AAAA'%}checked{%endif%}>AAAA</label> 
				<label class="col-2"><input type="radio" name="type" value="CNAME" {%if rows[0].type=='CNAME'%}checked{%endif%}>CNAME</label> 
				<label class="col-2"><input type="radio" name="type" value="TXT" {%if rows[0].type=='TXT'%}checked{%endif%}>TXT</label> 
				<label class="col-2"><input type="radio" name="type" value="MX" {%if rows[0].type=='MX'%}checked{%endif%}>MX</label> 
				<label class="col-2"><input type="radio" name="type" value="NS" {%if rows[0].type=='NS'%}checked{%endif%}>NS</label>
				<label class="col-2"><input type="radio" name="type" value="SOA" {%if rows[0].type=='SOA'%}checked{%endif%}>SOA</label> 
				<label class="col-2"><input type="radio" name="type" value="PTR" {%if rows[0].type=='PTR'%}checked{%endif%}>PTR</label>  
			</div>
		</div>
		</div>
		<div class="row form-group">
			<label class="col-2"><font color=red>*</font>{% trans "Data" %}</label>
			<input type="text" class="col-10 form-control" name="data" required value="{{rows[0].data}}">
		</div>
		<div class="row form-group">
			<label class="col-2">{% trans "TTL" %}</label>
			<input type="text" class="col-10 form-control" name="ttl" value="{{rows[0].ttl}}">
		</div>
		<div class="row form-group">
			<label class="col-2">{% trans "MX Priority" %}</label>
			<input type="text" class="col-10 form-control" name="mx_priority" value="{{rows[0].mx_priority}}">
		</div>
		<input type="submit" value="{% trans "修改" %}" class="btn btn-primary btn-sm"> &nbsp;
		<input type="reset" value="{% trans "取消" %}" class="btn btn-secondary btn-sm"> &nbsp;
	</form>
</div>
{% endblock %}
{% block footer %}
{% include 'footer.html' only %} 
{% endblock %}